<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidigniter.excelapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".data.PersonalActivity"
            android:label="@string/title_activity_personal"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".data.CraneRecolocationActivity"
            android:label="@string/title_activity_crane_recolocation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".data.ResourceActivationActivity"
            android:label="@string/title_activity_resource_activation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".data.DailyStatusActivity"
            android:label="@string/title_dailyStatusActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".data.TaskListActivity"
            android:label="@string/title_taskListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".data.DataActivity"
            android:label="@string/title_activity_data"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.CraneTaskListActivity"
            android:label="@string/title_cranetaskListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".data.CraneDailyStatusActivity"
            android:label="@string/title_cranedailyStatusActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.InefficienciesActivity"
            android:label="@string/title_InefficienciesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.InefficienciesTaskListActivity"
            android:label="@string/title_InefficienciesTaskListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.CraneInefficienciesActivity"
            android:label="@string/title_craneInefficienciesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.CraneInefficienciesTaskListActivity"
            android:label="@string/title_craneInefficienciesTaskListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.TrazabilityActivity"
            android:label="Trazaiblity Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.TrazabilityListActivity"
            android:label="Trazaiblity List Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.CraneTrazabilityActivity"
            android:label="Crane Trazaiblity Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.CraneTrazabilityListActivity"
            android:label="Crane Trazaiblity List Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.OTs1Activity"
            android:label="OTs1 Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.DataListActivity"
            android:label="Data List Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.CraneListActivity"
            android:label="Crane List Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".data.WTGListActivity"
            android:label="WTG List Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>